In [2]:
import pandas as pd

In [4]:
pd.read_csv("Research-and-development-survey-2021-CSV-notes.csv")

,Number,Footnote
0,1,Sector and published industry breakdowns accor...
1,2,In 2019 the R&D Survey was conducted only for ...
2,3,Results for this category should be treated wi...
3,4,Includes a wide range of ANZSIC industry codes...
4,5,Based on Rolling Mean employment. See Datainfo...
5,6,Only collected from the business sector. Not c...
6,7,Only collected from the business sector and go...
7,8,Only collected from the business sector and hi...
8,9,Only collected from the government and higher ...
9,10,Only collected from the higher education sect...
10,11,Only collected from the the Crown Research Ins...
11,12,Dollar figures exclude GST and are rounded to ...
12,13,Underlying counts of businesses are random rou...
13,14,Underlying counts of employees are rounded usi...
14,15,Respondents are asked to allocate to each of t...
15,16,Includes 'defence' and 'other' research purposes.
16,17,Research intended to benefit the sectors of Pl...
17,18,Research intended to benefit the sectors of En...
18,19,Research intended to benefit the sectors of He...
19,20,Research intended to benefit the sectors of Ec...
20,21,Includes New Zealand local government agencies.
21,22,Basic research is carried out to advance knowl...
22,23,Pure basic research is research to pursue new ...
23,24,Targeted basic research is research to produce...
24,25,Applied research is investigation undertaken t...
25,26,Experimental research is systematic work under...
26,27,Businesses were asked to indicate one main rea...
27,28,Some categories or groups may not equal the to...
28,29,Excludes licensing of intellectual property.
29,30,Excludes subsidaries.
30,31,No longer collected after 2014.
31,32,GDP is based on Stats NZ's GDP current price e...
32,33,Sourced from Organisation for Economic Co-oper...
33,34,For more information on definitions and refere...
34,Notes:,NaN
35,Due to small changes in population and sample ...,NaN
36,"Due to rounding, figures may not add to stated...",NaN
37,Symbols:,NaN
38,... Data not collected,NaN
39,.. Data not applicable or no data available,NaN
40,C Confidential,NaN
41,S Supressed for quality reasons,NaN
42,R Revised,NaN
43,P Provisional,NaN

In [5]:
a =pd.read_csv("Research-and-development-survey-2021-CSV-notes.csv")

In [10]:
a.head()

  Number                                           Footnote
0      1  Sector and published industry breakdowns accor...
1      2  In 2019 the R&D Survey was conducted only for ...
2      3  Results for this category should be treated wi...
3      4  Includes a wide range of ANZSIC industry codes...
4      5  Based on Rolling Mean employment. See Datainfo...

In [14]:
a.tail()

                                         Number Footnote
39  .. Data not applicable or no data available      NaN
40                               C Confidential      NaN
41              S Supressed for quality reasons      NaN
42                                    R Revised      NaN
43                                P Provisional      NaN

In [15]:
type(a)

pandas.core.frame.DataFrame

In [19]:
list(a.columns)

['Number', 'Footnote']

In [21]:
a['Number']

0                                                     1
1                                                     2
2                                                     3
3                                                     4
4                                                     5
5                                                     6
6                                                     7
7                                                     8
8                                                     9
9                                                    10
10                                                   11
11                                                   12
12                                                   13
13                                                   14
14                                                   15
15                                                   16
16                                                   17
17                                                   18
18                                                   19
19                                                   20
20                                                   21
21                                                   22
22                                                   23
23                                                   24
24                                                   25
25                                                   26
26                                                   27
27                                                   28
28                                                   29
29                                                   30
30                                                   31
31                                                   32
32                                                   33
33                                                   34
34                                               Notes:
35    Due to small changes in population and sample ...
36    Due to rounding, figures may not add to stated...
37                                             Symbols:
38                               ... Data not collected
39          .. Data not applicable or no data available
40                                       C Confidential
41                      S Supressed for quality reasons
42                                            R Revised
43                                        P Provisional
Name: Number, dtype: object

In [23]:
type(a['Number'])

pandas.core.series.Series

In [25]:
type(a[['Number']])

pandas.core.frame.DataFrame

In [27]:
a[['Number']]

                                               Number
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                 11
11                                                 12
12                                                 13
13                                                 14
14                                                 15
15                                                 16
16                                                 17
17                                                 18
18                                                 19
19                                                 20
20                                                 21
21                                                 22
22                                                 23
23                                                 24
24                                                 25
25                                                 26
26                                                 27
27                                                 28
28                                                 29
29                                                 30
30                                                 31
31                                                 32
32                                                 33
33                                                 34
34                                             Notes:
35  Due to small changes in population and sample ...
36  Due to rounding, figures may not add to stated...
37                                           Symbols:
38                             ... Data not collected
39        .. Data not applicable or no data available
40                                     C Confidential
41                    S Supressed for quality reasons
42                                          R Revised
43                                      P Provisional

In [29]:
a['Number','Footnote']

KeyError: ('Number', 'Footnote')

In [32]:
a[['Number','Footnote']] #for printing multiple columns, pass the column name as a list

,Number,Footnote
0,1,Sector and published industry breakdowns accor...
1,2,In 2019 the R&D Survey was conducted only for ...
2,3,Results for this category should be treated wi...
3,4,Includes a wide range of ANZSIC industry codes...
4,5,Based on Rolling Mean employment. See Datainfo...
5,6,Only collected from the business sector. Not c...
6,7,Only collected from the business sector and go...
7,8,Only collected from the business sector and hi...
8,9,Only collected from the government and higher ...
9,10,Only collected from the higher education sect...
10,11,Only collected from the the Crown Research Ins...
11,12,Dollar figures exclude GST and are rounded to ...
12,13,Underlying counts of businesses are random rou...
13,14,Underlying counts of employees are rounded usi...
14,15,Respondents are asked to allocate to each of t...
15,16,Includes 'defence' and 'other' research purposes.
16,17,Research intended to benefit the sectors of Pl...
17,18,Research intended to benefit the sectors of En...
18,19,Research intended to benefit the sectors of He...
19,20,Research intended to benefit the sectors of Ec...
20,21,Includes New Zealand local government agencies.
21,22,Basic research is carried out to advance knowl...
22,23,Pure basic research is research to pursue new ...
23,24,Targeted basic research is research to produce...
24,25,Applied research is investigation undertaken t...
25,26,Experimental research is systematic work under...
26,27,Businesses were asked to indicate one main rea...
27,28,Some categories or groups may not equal the to...
28,29,Excludes licensing of intellectual property.
29,30,Excludes subsidaries.
30,31,No longer collected after 2014.
31,32,GDP is based on Stats NZ's GDP current price e...
32,33,Sourced from Organisation for Economic Co-oper...
33,34,For more information on definitions and refere...
34,Notes:,NaN
35,Due to small changes in population and sample ...,NaN
36,"Due to rounding, figures may not add to stated...",NaN
37,Symbols:,NaN
38,... Data not collected,NaN
39,.. Data not applicable or no data available,NaN
40,C Confidential,NaN
41,S Supressed for quality reasons,NaN
42,R Revised,NaN
43,P Provisional,NaN

In [34]:
a.dtypes

Number      object
Footnote    object
dtype: object

In [36]:
pd.read_excel('aicte.xlsx')

,Date,Hours,Event Name,Speaker,Organiser,TP/WCP,Unnamed: 6
0,2022-02-12,NaN,Indian Youth Parliament,NaN,TCET-MUN,President - Rishav Biswas,NaN
1,2022-01-23,2.0,Linkedin,Mr. Aahan Malhotra,Sort & Literary,President - Siddharth Mishra,NaN
2,2022-02-25,20.0,Multicon,NaN,TCET,NaN,NaN
3,2022-02-06,8.0,Gameinar,NaN,ISTE,Hardik Ramparia,NaN
4,2022-03-13,2.0,Introduction to Flutter,NaN,GDSC,Hitanshu Doshi,NaN
5,2022-03-20,2.0,Deep Dive in Flutter,NaN,GDSC,Hitanshu Doshi,NaN
6,2022-03-27,2.0,Firebase and Authentication,Rishabh Pandey,GDSC,NaN,NaN
7,2022-03-29,2.0,Roadmap to become flutter developer,Mr.Vivek Yadav,GDSC,NaN,NaN
8,2022-04-24,2.0,Getting started with ML,Hrishikesh Yadav,GDSC,NaN,NaN
9,2022-04-27,2.0,Build a Movie recommendation engine,Prathik Shetty,GDSC,NaN,NaN
10,2022-04-30,2.0,Making an ML Chatbot with RASA,Dhiraj Chauhan,GDSC,NaN,NaN
11,2022-05-05,2.0,Webinar on Metaverse & Beyond,Navin Manasvi,IEEE,Shriya Gupta,NaN
12,2022-06-20,1.0,Alumni Connect,"Anurag Tiwari, Devavarat Singh",CSI-TCET,Raj Desai,NaN
13,2022-08-27,1.0,Debate Competition,NaN,TSDW,NaN,round 1 was compulsary
14,2022-09-02,2.0,MLH fellowship,Asjad Khan,Mindbenders,Vaibhav Ashta,NaN

In [38]:
b =pd.read_excel('aicte.xlsx')

In [40]:
type(b)

pandas.core.frame.DataFrame

In [41]:
pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 79.0 MB/s eta 0:00:00:00:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2
Note: you may need to restart the kernel to use updated packages.

In [44]:
import lxml
pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [56]:
c = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [57]:
type(c)

list

In [58]:
type(c[0])

pandas.core.frame.DataFrame

In [59]:
c = c[0]
c.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [62]:
c.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [64]:
c.to_csv('players_details.csv')

In [66]:
#if we want to store data without index
c.to_csv('players_details_without_index.csv',index =False)